.policy-container {
  width: 90%;
  margin: auto;
}

.policy-header {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.policy-section {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.policy-box-1 {
  width: 28rem;
  background-color: white;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 26px 12px;
}

.vehicle-box, .proposer-box, .policy-box-2{
  margin: 0 1rem 1rem 1rem;
}

.label {
  font-weight: 600;
  line-height: 1.5;
}

.text {
  line-height: 1.5;
  margin-left: 3px;
  text-transform: capitalize;
}

h3 {
  text-align: center;
}

.policy-section-component {
  display: flex;
}

.btn-light {
  padding: 8px 12px;
  border-radius: 5px;
  transform: skewX(-20deg);
  background-color: white;
  margin-right: 10px;
  transition-duration: 0.3s;
  margin: 1rem;
  cursor: pointer;
  border: 2px solid black;
}

.btn-text-dark {
  font-weight: 600;
  font-size: 12px;
  transform: skewX(20deg);
  display: inline-block;
  text-transform: uppercase;
  color: black;
}

button:hover .btn-text-dark {
  color: white
}